@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Ping AR + LT';
  src: url('/fonts/PingAR+LT-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ping AR + LT';
  src: url('/fonts/PingAR+LT-Heavy.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ping AR + LT';
  src: url('/fonts/PingAR+LT-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ping AR + LT';
  src: url('/fonts/PingAR+LT-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ping AR + LT';
  src: url('/fonts/PingAR+LT-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ping AR + LT';
  src: url('/fonts/PingAR+LT-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ping AR + LT';
  src: url('/fonts/PingAR+LT-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ping AR + LT';
  src: url('/fonts/PingAR+LT-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #272727;
  font-family: 'Ping AR + LT', sans-serif;
}